section.banner_main {
  text-align: center;
  padding: 0 15px;
  background-image: url("../img/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 570px;
  color: white; }
  section.banner_main h1, section.banner_main h2 {
    font-size: 64px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-style: italic;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2); }
  section.banner_main h2 {
    font-size: 36px; }
  section.banner_main p {
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic; }

div.point {
  margin-bottom: 30px; }

div.bg-wrap {
  text-align: center;
  background-image: url(../img/bg_equip.jpg);
  background-position: top center; }

section.teachers, section.motopark, section.equipment {
  background-image: none !important; }

section.about_school {
  padding: 25px 0;
  min-height: 765px;
  text-align: center; }
  section.about_school .point:after {
    content: '';
    z-index: -1;
    border-right: 2px dotted rgba(255, 255, 255, 0.2);
    height: 2000px;
    position: absolute;
    top: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  section.about_school h3 {
    margin-top: 20px; }
  section.about_school img {
    margin: 20px auto; }
  section.about_school .button-skewed {
    margin-top: 20px; }

section.courses {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 150px; }
  section.courses .slick-arrow {
    top: 34%; }
  section.courses .course-slide img {
    margin: 0 auto; }
  section.courses h3 {
    margin: 20px 0; }
  section.courses .point:after {
    content: '';
    border-right: 2px dotted rgba(255, 255, 255, 0.2);
    height: 1400px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  section.courses .point:after {
    top: 12px; }
  section.courses p {
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px; }
  section.courses .button-skewed {
    background-color: #1a1b1d;
    padding: 8px 10px;
    font-style: normal; }
    section.courses .button-skewed.red {
      border: none;
      position: relative;
      top: -18px;
      background-color: #a61904; }
  section.courses .info-card {
    min-height: 256px;
    background-image: url(../img/teacher_slide_bg.jpg);
    font-style: italic;
    padding: 20px 15px;
    padding-bottom: 40px; }
    section.courses .info-card .slide-list {
      padding: 15px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      section.courses .info-card .slide-list .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: none;
        text-transform: uppercase;
        padding: 5px 0; }
        section.courses .info-card .slide-list .item h4 {
          font-size: 12px;
          font-weight: normal;
          margin: 0; }
        section.courses .info-card .slide-list .item .value {
          font-size: 14px;
          font-weight: bold;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
    section.courses .info-card .price {
      margin-top: 20px; }
      section.courses .info-card .price h4 {
        font-size: 36px;
        font-weight: 900; }
        section.courses .info-card .price h4 span {
          font-size: 16px;
          font-weight: normal;
          margin-left: 12px;
          color: #999999; }

/*# sourceMappingURL=index.css.map */